<div class="container mx-auto px-4 md:px-10 lg:px-20 xl:px-40">
  <section class="flex flex-col lg:flex-row items-center justify-between py-20">
    <div class="lg:w-1/2 space-y-6">
      <h1 class="text-4xl md:text-5xl font-black leading-tight">エンジニア転職を目指して</h1>
      <p class="text-lg text-gray-700 dark:text-gray-300">プログラミング初学者による、学習記録です。</p>
      <div class="flex flex-wrap gap-4">
        <%= link_to "ポートフォリオを見る", "#portfolio", class: "btn btn-primary" %>
        <%= link_to "ブログを読む", "#blog", class: "btn btn-accent" %>
      </div>
    </div>
    <div class="hero-content flex-col lg:flex-row-reverse">
      <%= image_tag "top.jpg", class: "max-w-sm rounded-lg shadow-2xl" %>
    </div>
  </section>

  <%= render "skills" %>
  <%= render "portfolio" %>
  <%= render "blog", articles: @articles %>
</div>
